node_modules
!app/node_modules
.DS_Store
config/BUILD
npm-debug.log
app/node_modules/public/js/bundle.*
dist/
build/
.idea/
.eslintcache
__pycache__/
/reports
.sass-cache
/server/settings
npm-debug.log.*
db-config-local.json
settings-local.json
package-lock.json
dump.rdb
sitemap.xml
*.h5
